$background: #002439;
$accent: #005066;
$accent-light: #78cce2;
$light: #4e7988;
$text: #e4eff0;

$card-bg: #121920;

$background-secondary: #121920;
$border-accent: #ff8100;

$danger: #dd0000;
$warning: #ed975e;
$success: #3fb64d;

$grey-light: #293740;

.danger {
  color: $danger;
}
