<div class="card d-flex space-around w-100">
  <span [class.danger]="(playerData?.moneyProduction || 0) < 0"><em class="fas fa-coins"></em> {{ playerData?.money }} ({{
      playerData?.moneyProduction
    }})</span>
  <span [class.danger]="(playerData?.energy || 0) <= 0"><em class="fas fa-bolt"></em> {{ playerData?.energy }}</span>
  <span [class.danger]="(playerData?.scienceProduction || 0) < 0"><em class="fas fa-flask"></em> {{ playerData?.science }} ({{
      playerData?.scienceProduction
    }})</span>
  <span [class.danger]="(playerData?.industryProduction || 0) < 0"><em class="fas fa-industry"></em> {{ playerData?.industry }} ({{
        playerData?.industryProduction
      }})</span>
  <span [class.danger]="(playerData?.foodProduction || 0) < 0"><em class="fas fa-pizza-slice"></em> {{ playerData?.food }} ({{
      playerData?.foodProduction
    }})</span>
</div>
