<div class="d-flex">
  <div class="flex"></div>
  <button type="button" class="btn" routerLink="">Overview</button>
  <button type="button" class="btn" routerLink="planet">Planet</button>
  <button type="button" class="btn" routerLink="research">Research</button>
  <button type="button" class="btn" routerLink="shipyard">Shipyard</button>
  <button type="button" class="btn" routerLink="hangar">Hangar</button>
  <button type="button" class="btn" routerLink="combat-sim">Combat Sim</button>
  <div class="flex"></div>
  <button type="button" class="btn" routerLink="inbox"><em class="fas fa-envelope"></em></button>
  <button type="button" class="btn" routerLink="events">Events</button>
  <button type="button" class="btn" routerLink="profile">Profile</button>
</div>
