<div class="d-flex">
  <div class="flex"></div>
  <button type="button" class="btn" routerLink="./">Overview</button>
  <button type="button" class="btn" routerLink="planet" routerLinkActive="active">Planet</button>
  <button type="button" class="btn" routerLink="research" routerLinkActive="active">Research</button>
  <button type="button" class="btn" routerLink="shipyard" routerLinkActive="active">Shipyard</button>
  <button type="button" class="btn" routerLink="hangar" routerLinkActive="active">Hangar</button>
  <button type="button" class="btn" routerLink="combat-sim" routerLinkActive="active">Combat Sim</button>
  <div class="flex"></div>
  <button type="button" class="btn" routerLink="inbox" routerLinkActive="active">
    <em class="fas fa-envelope"></em>
  </button>
  <button type="button" class="btn" routerLink="events" routerLinkActive="active">Events</button>
  <button type="button" class="btn" routerLink="profile" routerLinkActive="active">Profile</button>
</div>
