@import "../../../colors.scss";

.btn {
  background-color: transparent; /* Green */
  padding: 10px 24px;
  margin: 0px 2px;
  border: none;
  color: $text;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-image: url("../../../assets/img/btn.png");
  background-size: 100% 100%;

  &:hover:not([disabled]) {
    background-image: url("../../../assets/img/btn_hover.png");
  }
  &:disabled {
    background-image: url("../../../assets/img/btn_disabled.png");
    color: darken($text, 40%);
  }
  &:focus {
    border-color: darken($accent-light, 10%);
    outline: none;
  }

  &.active {
    background-image: url("../../../assets/img/btn_active.png");
  }
}
