@import "../../../colors.scss";

.form-group {
  margin: 8px;
  &,
  & > * {
    width: 100%;
    max-width: 248px;
  }
  input {
    &[type="text"],
    &[type="email"],
    &[type="password"] {
      border: 2px solid $light;
      padding: 6px 8px;
      background-color: $accent;
      color: $text;
      &:focus {
        outline: none;
        border-color: $accent-light;
      }
    }
  }
  label {
    display: block;
    font-weight: bold;
    &.required::after {
      content: "*";
      color: $danger;
    }
  }
}
