<div class="card">
  <header>
    <img src="assets/img/title_feature03.jpg" alt="planet image">
    <h3>Planet: {{(planet | async)?.name}}</h3>
  </header>
  <hr>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
  ad
  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit
  in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
  officia deserunt mollit anim id est laborum.
</div>

<div class="card">
  <header>
    <h3>Buildings</h3>
  </header>
  <hr>
  <div *ngFor="let building of (planet | async)?.buildings; let i = index" class="slot">
    {{building.name}}
  </div>
</div>
