/* You can add global styles to this file, and also import other style files */
@import "./style/colors.scss";
@import "./style/theme.scss";
// @import "app/enigma-common/style/index.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~source-sans/source-sans-3.css";

html,
body {
  background-color: $background;
  color: $text;
  margin: 0;
  font-family: "Source Sans 3";
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
