/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
@import "app/enigma-common/style/enigma-ui.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~source-sans/source-sans-3.css";

html,
body {
  background-color: $background;
  color: $text;
  height: 100%;
  margin: 0;
  font-family: "Source Sans 3";
}
