@import "../../../../colors.scss";

button.btn {
  background-color: $light; /* Green */
  padding: 10px 24px;
  border: 1px solid $light;
  color: $text;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &:hover {
    background-color: lighten($accent-light, 5%);
    border-color: lighten($accent-light, 5%);
    color: darken($text, 70%);
  }
  &:focus {
    border-color: darken($accent-light, 10%);
    outline: none;
  }

  &.active {
    background-color: $accent-light;
    border-color: $accent-light;
    color: darken($text, 70%);
  }
}
