<div class="row">
  <div class="col-8-md">
    <div class="card">
      <header>
        <img src="assets/img/title_feature01.jpg" alt="title image">
        <h2>Some Feature</h2>
      </header>
      <hr>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="card">
      <header>
        <img src="assets/img/title_feature02.jpg" alt="title image">
        <h2>Another Feature</h2>
      </header>
      <hr>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad
        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="col col-4-md">
    <div class="card">
      <header>
        <h2>About</h2>
      </header>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        This game is open source. Please feel free to visit the <a href="https://github.com/Xenira/enigma" target="_blank"
           rel="noopener noreferrer">github page</a> to contribute, <a href="https://github.com/Xenira/enigma/issues" target="_blank"
           rel="noopener noreferrer">report problems</a>, or just browse the codebase. Thanks.
      </p>
    </div>
  </div>
</div>
