@import "../../../colors.scss";

.hex {
  display: inline-block;
  position: relative;
  visibility: hidden;
  outline: 1px solid black;
  &::after {
    content: "";
    display: block;
    padding-bottom: 86.602%;
  }
  .hex-inner {
    position: absolute;
    width: 96%;
    padding-bottom: 110.851%;
    margin: 0 2%;
    overflow: hidden;
    visibility: hidden;
    outline: 1px solid transparent;
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    background-color: red;
  }

  .hex-content {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: absolute;
    visibility: visible;
    outline: 1px solid transparent;
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);

    &:hover {
      background-color: $accent;
    }

    .content {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    img {
      left: -100%;
      right: -100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0 auto;
      transform: rotate3d(0, 0, 0, 0deg);
    }
  }
}
