.grid-row {
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    overflow: hidden;
    width: 128 * 10px;
  }
}
